

/* .mySwiper {

    border: 2px solid rgb(195, 15, 15);

    
    
} */


.swiperslide {

    overflow: hidden;
    
    border-radius: 10px;

}


.swiperslide:hover {

    cursor : pointer;

}

.swiperslide2 {

    cursor : pointer;

    border-radius: 10px;

}

.swiperslide3 {

    cursor : pointer;

    
}