body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* My color palette generator */


.c {

  color: rgb(12, 12, 59);

  color :rgb(0, 255, 213);

  color :rgba(0, 255, 213, 0.053);

  color : rgb(15, 39, 87);

  color : rgba(151, 217, 233, 0.493);
  color : rgb(255, 0, 128);

  color : rgb(255, 0, 89);

  color :rgb(0, 255, 149);

  color : rgba(255, 255, 255, 0.519);

  color : rgba(111, 0, 208, 0.105);

  color : rgba(246, 203, 210, 0.753);

  color: rgb(0, 183, 255);

  color: rgb(59, 46, 179);

  color: rgba(22, 75, 106, 0.866);

  color: rgba(48, 38, 60, 0.797);

  color : rgb(237, 233, 233)



}


/* scrollbar css */

.scrollbar::-webkit-scrollbar{

  display : none

}


/* 
.link {


  border : 2px solid red
} */