.muiicon:hover {

    cursor: pointer;

}

.muimallicon:hover{

    cursor: pointer;


}

.tooltip {

     position : absolute;

     text-align: center;

     top : 35px;

     left : -20px;

     display: none;

}



.tooltip2 {

    position : absolute;

    text-align: center;

    top : 30px;

    right : -12px;

    display: none;

}

.muiicon:hover ~ .tooltip {

    display: flex;

    font-size: 14px;

}

.muimallicon:hover ~ .tooltip2 {

    display: flex;

    font-size: 14px;
  
}











.colo {


color : #001e3cb4;

color: rgba(255, 255, 255, 0.564);


}